html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 80px;
    background-color: #ffffff;
}
.logo{
    padding-top: 30px;
}
.col-3{
width: 33%;
float: left;
}
#header-container{
    width: 80%;
    margin: auto;
}
p{
    color: #5d6660;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /*background-color: black;*/
    margin: 0;

}
.menu{
    padding-top: 20px;
}
.menu li{
    list-style-type: none;
    display: inline;
    font-size: .85em;
    color: rgb(240, 192, 133);
    padding-right: 30px;  
}
.btngetstarted{
    text-decoration: none;
    background-color: green;
    border-radius: 28px;
    text-decoration: none;
    color: white;
    padding: 10px 26px;
    margin-top: 20px;
    display: inline-block;
    float: right;
}
.btngetstarted:hover{
    background-color: #5cbf2a;
}
#topmain{
    background-image: url(../images/Friends.jpg);
    height: 740px;
    border: none;
}
#topsection{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#topsection h1{
    font-size: 4em;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 15px;
}
#topsection p{
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    text-align: center;
}
.play-btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 50px;
}
.main-form h6{
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 100;
    color: white;
    text-align: center;
}
.main-form input{
    margin: 0;
    width: 30%;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    border: none;
}
.main-form button{
    width: 30%;
    height: 37px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    background-color: rgb(53, 180, 53);
    color: white;
}
.main-form button:hover{
    background-color: green;
}
#featuresection{
    padding-top: 100px;
}
.feature-title{
    width: 70%;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
}
.feature-content{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}
.feature-content .col-3 img{
width: 100%;
}
.feature-content .col-3 p{
    font-size: .9em;
    letter-spacing: 1px;
}
.feature-content .col-3{
    padding: 10px;
    width: 30%;
}
.col-2{
    float: left;
    width: 48%;
}
#showcaselcontainer{
    padding-top: 60px;
    background-color: #f6f8fa;
    width: 100%;
    clear: both;
}

.showcase{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.showcase1pic{
width: 100%;
}
.feature-text{
    padding-top: 300px;
    padding-left: 50px;
}
.section-title{
    width: 70%;
    margin: auto;
    font-weight: 200;
    line-height: 1.5em;
}
.section-left{
    width: 70%;
    padding: 20px 10px 10px 10px;
    margin: auto;
}
#showcase2container{
    padding-top: 60px;
    background-color: white;
    width: 100%;
    clear: both;
}
.col-1{
    width: 80%;
    margin: auto;
}
#calltoaction{
    background-image: url(../images/Darkdesk.png);
    background-position: 50% 50%;
    padding-bottom: 45px;
}
.action-title{
    font-size: 4em;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}
.col-1 p{
    font-size: 1.3em;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
}
.signupBTN{
    background-color: #6dc77a;
    color: white;
    font-size: 1em;
    font-weight: 200;
    padding: 30px 90px;
}
.signupBTN:hover{
    background-color: #5cbf2a;
}
.btnsingup{
    width: 102%;
    height: 37px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    background-color: rgb(53, 180, 53);
    color: white;
}
.btnsingup:hover{
    background-color: green;
}
.singupform{
    background-color: #f6f8fa;
    margin-right: 200px;
    padding: 0px 50px 10px 50px;
}
.singupform h6{
color: black;
padding-top: 15px;
font-size: .9em;
text-align: center;
}
.top-margin{
    margin-top: 100px;
    margin-left: 100px;
}
input{
    margin: 0;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    border: none;
    margin-top: 15px;
}
footer{
    background-color: black;
    clear: both;
    height: 500px;
    background-image: url(../images/Footerbg.png);
    background-position: 50% 50%;
}
.social-footer{
    width: 33%;
    float: left;
    height: 40%;
}
.social-footer:hover{
    background-color: black;
    opacity: 50%;
}
.cebter{
    width: 50px;
    margin: auto;
    padding-top: 60px;
}
.copyright{
    color: white;
    font-size: .9em;
    text-align: center;
    display: block;
    padding-top: 15px;
}